.background-container {
    background-image: url('Nihon.jpeg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
    background-attachment: fixed;
    height: 100vh;
    padding-top: 50px;
    }

main {
	max-width: 75vw;
    width: 85%;
    margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
    opacity: 0.85;
	background: rgb(187, 187, 188);
	border-radius: 20px;
	padding: 20px;
	border: 2px solid darkgray;
    }

article {
    margin-bottom: 40px;
    }   

.index-links {
    display: flex;
    justify-content: center;
    margin-right: 5px ;
    margin-bottom: 20px; /* Add some space between links and articles */
    }
    
.index-links a {
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: lightgray;
    }
